# DFINERY 콘솔 로그인 정보
DFINERY_EMAIL=your@company.com
DFINERY_PASSWORD=your_password

# 콘솔 > 설정에서 확인 가능 (URL에 포함된 값)
# https://console.dfinery.io/{ACCOUNT_ID}/data-studio/{APPKEY}/raw-data-export
DFINERY_APPKEY=your_appkey
DFINERY_ACCOUNT_ID=your_account_id
